# Example: Finding images within given radius of location

In [1]:
import pandas as pd
import math
import mysql.connector
from timeit import timeit
import credentials.py as cr
import filter_by_location.py as fbl

In [7]:
con = mysql.connector.connect(host=cr.host, user=cr.user, passwd=cr.password , db=cr.database)
cur = con.cursor(buffered=True)   

fbl.close_urls(cur=cur, loc_table_name = cr.loc_table_name, current_lat=36.1, current_lon=-96, radius=5)

Total number of unique images in given table: 1378537
Number of images within box: 16180
Number of images within radius: 16177

               pid  latitude  longitude
0           645096   36.1410   -95.9726
1           645140   36.1410   -95.9726
2           645176   36.1410   -95.9726
3           645222   36.1410   -95.9726
4           645278   36.1410   -95.9726
...            ...       ...        ...
16172  49896371346   36.1437   -95.9848
16173  49927487288   36.1385   -95.9617
16174  49928009386   36.1385   -95.9617
16175  49931609806   36.1384   -95.9619
16176  49936180221   36.1297   -95.9839

[16177 rows x 3 columns]

In [8]:
%timeit close_urls(cur=cur, loc_table_name = cr.loc_table_name, current_lat=36.1, 
                   current_lon=-96, radius=5, printout=False)

1.77 s ± 71.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)